<div class='logo' (click)="onClickLogo()">
	<i class="fa fa-youtube-play fa-2x fa-fw"></i>
</div>
<div class='search-container'>
	<input 
		autofocus
		type="text" 
		class='search-input'
		placeholder="Search YouTube" 
		[(ngModel)]='searchTerms'
		(keypress)='onInputKeypress($event)'>
	<button *ngIf='searchTerms' 
			(click)="onClickClear()" 
			class='search-button'
			title='Click to clear the search'>
		<i class="fa fa-times-circle"></i>
	</button>
	<button (click)="onClickSearch(searchTerms)" 
			class='search-button'
			title='Click to search'
			>
		<i class="fa fa-search"></i>
	</button>
</div>