@default-font-family: 'Roboto';

// Media Query Variables
@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";

@app-menu-height: 40px;
@video-sidebar-width: 250px;

// Colors
@ui-border-color: #aaa;
@ui-background-color: #eee;
@ui-shadow-color: #000;