@import '../../styles/variables.less';

@button-width-large: 50px;
@button-width-small: 30px;
@base-color: #333;

:host {
	position: absolute;
	height: @video-controls-height;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(lighten(@base-color, 20%), @base-color);
	color: contrast(@base-color);
	overflow: hidden;
}

.left-buttons, .center, .right-buttons {
	position: absolute;
	top: 0;
	bottom: 0;
}

.left-buttons, .right-buttons {
	width: @button-width-large;
	button {
		height: 100%;
		width: 100%;
		background: none;
		border: none;
		color: contrast(@base-color);
		cursor: pointer;
		&:disabled {
			color: darken(contrast(@base-color), 40%);
			cursor: not-allowed;
		}
		&:focus {
			outline: none;
		}
		&:active {
			color: @ui-highlight-color;
		}
	}
}
.left-buttons {
	left: 0;
	border-right: 1px solid @ui-border-color;
}

.right-buttons {
	right: 0;
	border-left: 1px solid @ui-border-color;
}
.center {
	right: @button-width-large;
	left: @button-width-large;
	padding: 5px;
	//text-align: center;
}

.video-description {
	font-size: 0.8em;
	overflow: hidden;
}

.video-title {
	font-weight: bold;
}

@media @smartphones {
	.video-title {
		font-size: @font-size-small;
	}
	.left-buttons, .right-buttons {
		width: @button-width-small;
	}
	.center {
		right: @button-width-small;
		left:  @button-width-small;
	}
}