<app-message>
  <h1>Welcome to YouTube Lite!</h1>
  <p>This is a code challenge for potential employment with <a href='http://www.aphixsoftware.com' target="_blank">Aphix Software</a>.  The goals of this effort were as follows:</p>
  <ul>
    <li>Create a lightweight YouTube client that allows users to search for videos and view them in a single page application (SPA).</li>
    <li>Provide mobile views to support tablet and mobile devices.</li>
    <li>Provide support for offline applications.</li>
    <li>Practice building a single page application using the Angular 2 framework.</li>
  </ul>
  <p>
    Using this app is really simple, just type your search terms in the search field above and hit enter.  You'll see 25 relevant search results returned from YouTube.  Click a search result to load the video in the player.  You can then use the forward and back buttons in the video player to skip to the next video in the results.
  </p>
  <p>I hope you find this utility application and have as much fun using it as I did building it!</p>
  <p>
    <strong class='signature'>
      Danial Clements
    </strong>
    </p>
</app-message>