@import "../../styles/variables.less";
@import "../../styles/mixins.less";

:host {
	position: absolute;
	top: @app-menu-height;
	left: @video-sidebar-width;
	bottom: 0;
	right: 0;
}

@media @smartphones {
	:host {
		left: 0;
		height: @video-player-mobile-height;
		border-bottom: 1px solid @ui-border-color;
	}
}

.youtube-player {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: @video-controls-height;
}